


<app-header></app-header>

<div style="height: 30px;"></div>

<div class="row pl-3">
  <div class="col-lg-3 col-md-4 col-sm-3 pr-7">
      <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon" style="background:blue;">
                <!-- content_copy -->
                  <i class="material-icons" style="color: #ffff;">person_add_alt</i>
              </div>
              <p class="card-category"> STAFF</p>
              <h3 class="" >{{Dashboard_Count}}</h3>
          </div>
          <div class="card-footer">
              <div class="stats">
                  <!-- <i class="material-icons text-danger">warning</i> -->
                  <button style=" background-color: blue;" mat-raised-button type="submit" class="btn pull-right btn-danger div-rspnsv-pstn-crct-sls-mstr"
                  (click)="Click_No1()"> 
                    <!-- {{Shipment_Master_.Porforma_Caption}} -->
                    View
                  </button>
                  <!-- <h4 onclick="Get_Dashboard_Count(Login_User)">Get Details</h4> -->
              </div>
          </div>
      </div>
  </div>
  <!-- <div class="col-lg-3 col-md-4 col-sm-3 pr-7">
      <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
              <div class="card-icon" style="background: blue;">
            <i class="material-icons"  style="color: #ffff;">beenhere</i>
              </div>
              <p class="card-category"> Medicine</p>
              <h3 class="">{{Dashboard_Count1}}</h3>
          </div>
          <div class="card-footer">
              <div class="stats">
                  <button style=" background-color: blue;" mat-raised-button type="submit" class="btn pull-right btn-danger div-rspnsv-pstn-crct-sls-mstr"
                  (click)="Click_No2()" > View</button>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-3 pr-7">
    <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
            <div class="card-icon" style="background: blue;">
          <i class="material-icons"  style="color: #ffff;">pending_actions</i>
            </div>
            <p class="card-category"> Lab Test</p>
            <h3 class="">{{Dashboard_Count2}}</h3>
        </div>
        <div class="card-footer">
            <div class="stats">
                <button style=" background-color: blue;" mat-raised-button type="submit" class="btn pull-right btn-danger div-rspnsv-pstn-crct-sls-mstr"
                (click)="Click_No3()" > View</button>
            </div>
        </div>
    </div>
</div> -->
 
  <!-- <div class="col-lg-3 col-md-4 col-sm-3 pr-7">
      <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
              <div class="card-icon" style="background: linear-gradient(60deg,#26c6da,#00acc1);">
                  <i class="material-icons"  style="color: #ffff;">
                  attach_money
                  </i>
              </div>
              <p class="card-category">Receipt</p>
              <h3 class="">{{Dashboard_Count3}}</h3>
          </div>
          <div class="card-footer">
              <div class="stats">
                <button style=" background-color: #26c6da;" mat-raised-button type="submit" class="btn pull-right btn-danger div-rspnsv-pstn-crct-sls-mstr"
                (click)="Click_No4()" > View</button>
              </div>
          </div>
      </div>
  </div> -->
</div> 
